body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(./fonts/Relaway/Raleway-VariableFont_wght.ttf);
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
  left: 0px;
  z-index: 0;
  padding: 0px 150px;
  padding-top: 20px;
}

.main {
  width: 100%;
  height: 100%;

  position: relative;
  overflow-x: hidden;
}
.content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  max-width: 1920px;
  gap: 0px 20px;
  z-index: -1;
}
.image {
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mainImage {
  width: 100%;
  object-fit: contain;
  align-self: flex-end;
}
.text {
  margin-left: 181px;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.title-desc {
  margin: auto;
}
.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 140%;
  text-transform: uppercase;
  margin-top: 0px;
}
.description {
  max-width: 500px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  color: #121212;
}
.footer {
  align-self: flex-start;
  margin-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #606674;
}
.figure1 {
  position: absolute;
  left: 50%;
  top: -50px;
  z-index: 1;
}

.figure2 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0px 75px;
  }
  .text {
    margin-left: 90px;
    justify-self: center;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 4px 0px;
  }
  .header-img {
    margin: 0 auto;
    width: 115px;
    height: 46px;
    display: block;
  }
  .main {
    position: relative;
  }
  .content {
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }
  .text {
    margin: 0px;
    align-self: center;
  }
  .title-desc {
    margin: 30px 24px;
  }
  .description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #121212;
  }
  .footer {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #606674;
    text-align: center;
    align-self: center;
    margin: 0px 24px;
    margin-bottom: 24px;
  }
  .title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
  }
  .figure1 {
    top: 60%;
    left: 80%;
    width: 140.05px;
    height: 133.93px;
  }
  .figure2 {
    display: none;
  }
}
